.demo {
  text-align: center;

  .pagination {
    display: inline-block;
    padding: 0;
  }

  .pagination button {
    color: black;
    float: left;
    border-radius: 50px;
    border: none;
    margin: 3px;
    cursor: pointer;
  }

  .pagination button.active {
    background-color: #FFB900;
    color: white;
  }

  .pagination button.hover {
    background-color: #FFB900;
    color: white;
  }

  .pagination button:hover:not(.active) {
    background-color: #ddd;
  }
}