.demo {
  text-align: center;

  .pagination {
    display: inline-block;
    padding: 0;
  }

  .pagination button {
    color: var(--ui-dark);
    float: left;
    border-radius: 50px;
    border: none;
    margin: 3px;
    cursor: pointer;
  }

  .pagination button.active {
    background-color: var(--ui-orange);
    color: white;
  }

  .pagination button.hover {
    background-color: var(--ui-orange);
    color: var(--ui-white);
  }

  .pagination button:hover:not(.active) {
    background-color: var(--ui-dark);
  }
}
