:root {
    --ui-white: #FFFFFF;
    --ui-dark: #203842;
    --ui-grey: #828282;
    --ui-grey-table: #F7F9FA;
    --ui-grey-border: #E0E0E0;
    --ui-blue: #0258FF;
    --ui-orange: #FFB800;
    --ui-red: #FF0000;
    --ui-green: #34C15C;
}
