.add-prop-item {
  margin: 0 8.22%;
  background: #FFFFFF;
  box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  padding: 3% 103px;

  .form-control {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
  }

  .btn-choice {
    margin-left: 69%;

    .btn-back {
      width: 100px;
      height: 32px;
      background: #FF0000;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      border: none;
      color: #FFFFFF;
      margin-right: 10px;
    }

    .btn-save {
      width: 100px;
      height: 32px;
      background: #34C15C;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
    }

    button:disabled {
      opacity: 70%;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .name-prop {
    input, select {
      width: 255px;
      height: 32px;
      background: #FFFFFF;
      box-sizing: border-box;
      margin: 5px 0 10px;
      border-radius: 4px;
      border: 0.7px solid #E0E0E0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
  }
}