@font-face {
  font-family: 'Roboto Light';
  src: url('../../fonts/Roboto-Light.ttf');
  src: local('../../fonts/Roboto-Light.ttf'),
  url('../../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../fonts/Roboto-Bold.ttf');
  src: local('../../fonts/Roboto-Bold.ttf'),
  url('../../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../../fonts/Roboto-Regular.ttf');
  src: local('../../fonts/Roboto-Regular.ttf'),
  url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
