.btn{
  height: 32px;
  width: 160px;
  border-radius: 4px;
  border: none;
  background: #FFB800;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

.btn:active {
  background-color:  #FFB900;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}