.car-table {
  margin: 0 8.22% 0 8.22%;
  background: #FFFFFF;
  box-shadow: 0 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  padding: 3% 50px 3%;

  .cars-run {

    .cars-run-out {
      display: flex;
      justify-content: center;
      margin: 5px;

      img {
        min-width: 150px;
        max-width: 500px;
      }

      h5 {
        font-size: 25px;
        color: #FF0000;
      }
    }

  }

  .btn-add {
    margin: 0 0 2% 75%; //верхнего, правого, нижнего и левого края.
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  }

  .table {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 2rem;

    .vector-cont {
      cursor: pointer;

      .vector {
        width: 14px;
        height: 14px;
        opacity: 0.5;
      }
    }

    span {
      margin-right: 40px;
      cursor: pointer;
    }

    td {
      height: 48px;
      font-size: 14px;
      line-height: 16px;
      border-bottom: 1px solid #F7F9FA;
    }

    th {
      height: 48px;
      text-align: left;
      border-bottom: 1px solid #F7F9FA;
      color: #828282;
      opacity: 0.8;
    }
  }
}