.case-input-arr {
  margin-top: -15px;

  .field-arr {
    margin-top: -15px;
  }

  .add-prop-field {
    display: flex;
  }

  label {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    color: #000000;
  }
}


